[submodule "backend"]
	path = backend
	url = https://github.com/delementa/delementa-vpn-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/delementa/delementa-vpn-frontend.git
